<!DOCTYPE html>
<html>
    <head>
        <title> Items catlog</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Baloo+Thambi" rel="stylesheet">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
      <div class="container-fluid">
          <div class="row">
              <div class="cat-header">
              <div class="col-sm-6 sub-header"><a href="/"    > 
          
              <h2>
                  <i class="fa fa-home" aria-hidden="true"></i>
            Items Catlog</h2>
            </a> </div>
            <div class="col-sm-6 sub-header">
                {% if user %}
                 <div class="sm-login pull-right"> Hi {{user}}
                 <a href="/gdisconnect" class="login">logout</a> </div>
                 {% else %}
                  <a href="/login" class="login pull-right">login</a> 
           {% endif %}
            </div>
          </div>
        </div>
        <div class="row"></div>
       
           
               <div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
<div class="container">
  {% block content %}
  {% endblock %}

          </div>   

      </div>     
     

    </body>
</html>