{% extends "index.html" %}

{% block content %}

<h1>{{category.name}}</h1> 

<a class="btn btn-default btn-add-item pull-right" href="/catalog/{{category.id}}/newitem">Add new item</a>
<hr/>

	{% for i in items %}
		
<div class="col-sm-4"><div><div class="item-title">{{i.name}}</div>
            <div class="item-img-hom"><a href="{{url_for('viewItem', id = i.category_id, item_id = i.id )}}">
                <img src="{{i.img_url}}">	</a></div></div></div>


		{% endfor %}
        {% endblock %}

		
